.rosa {
    background-color: #F7E2D6;
}
.celeste {
    background-color: #9DD6DF;
}

.violeta {
    background-color: #A084CF;
}

.marron {
    background-color: #DFBB9D;
}
.gris {
    background-color: #D9D9D9;
}
.categ-amarillo {
    background-color: #fffaec;
}
.categ-celeste {
    background-color: #ebf7f9;
}
.gris-claro {
    background-color: #A79EA633
}