<div class="gris footer-mobile">    
    <section class="container">
        <div class="row">
            <div class="col-sm p-2">
                <div>
                    <h4 class="footer-titles bold"> Ginger Ropa Vintage </h4>
                </div>
                <div>
                    <i class="fa-solid fa-grip-lines footer-icons"></i>
                </div>
                <div class="footer-text">
                    <a href="">
                        About   
                    </a>
                </div>             
            </div>                     
            <div class="col-sm p-2">
                <div>
                    <h4 class="footer-titles bold "> Redes </h4>                
                </div>
                <div>                   
                    <i class="fa-solid fa-grip-lines footer-icons"></i>                   
                </div>
                <div>
                    <a href="">
                        <i class="fa-brands fa-facebook footer-icons mg-t-5"></i>                   
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/gingeropavintage/" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-instagram footer-icons mg-t-5"></i>
                    </a>
                </div>
            </div>           
            <div class="col-sm p-2">
                <div>
                    <h4 class="footer-titles bold fs-7 fs-sm-4 "> Envios </h4>
                </div>
                <div>
                    <a href="">
                        <i class="fa-solid fa-grip-lines footer-icons"></i>
                    </a>
                </div>
                <div>
                    <a href="">
                        <i class="fa-solid fa-truck-fast footer-icons"></i>
                    </a>
                </div>
                <div class="footer-text">
                    Envios a todo el pais
                </div>
            </div>          
            <div class="col-sm p-2">
                <div>
                    <h4 class="footer-titles bold"> Contacto </h4>
                </div>
                <div>
                    <i class="fa-solid fa-grip-lines footer-icons"></i>
                </div>
                
                <div class="footer-contact-divs">
                    <div> 
                        <i class="fa-solid fa-square-phone footer-icons"></i>
                    </div>                    
                    <div class="footer-text mg-l-5">
                         1168972327 
                    </div>
                </div>
                <div class="footer-contact-divs">
                    <div>
                        <i class="fa-regular fa-envelope footer-icons"></i>
                    </div>
                    <div class="footer-text mg-l-5">
                         benitezmelina81@gmail.com 
                    </div>
                </div>
            </div>
        </div>        
    </section>

</div>